.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url("https://i.pinimg.com/originals/70/b4/d4/70b4d4080fc2cdb4bd1c70802148c3c0.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  margin: 15px;
}

.player-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.progress-container {
  display: flex;
  justify-content: space-between;
}

.podcast-info-container {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 10px;
}

.on-deck-card-details {
  display: flex;
  flex-direction: column;
}

.on-deck-card-description {
  padding: 16px;
  overflow: scroll;
  height: 80px;
}

.on-deck-card {
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 100%;
}

.on-deck-card-content {
  min-width: 60%;
}

#on-deck-card-image {
  max-width: 25%;
}
.userList {
  border: gray;
}

.header {
  display: flex;
  justify-content: flex-start;
  background-color: #3d5a80;
  min-height: 5%;
}

.footer {
  display: flex;
  justify-content: flex-start;
  background-color: #bfc0c0;
  min-height: 100px;
}

.main-container {
  display: flex;
}

#messages-container {
  display: flex;
  flex-direction: column;
  min-width: 40%;
  margin: auto 0 20px 20px;
}
#users{
  overflow: scroll;
}
.volume {
  width: 150px;
}

.invite-card {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  text-align: center;
  justify-content: space-evenly;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  width: 100%;
}

#search-button {
  margin: 5px;
}

#message-form {
  margin: 10px;
  padding: 10px;
  background-color: rgba(157, 206, 248, 0.315);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(197, 192, 192, 0.2),
    0 6px 20px 0 rgba(148, 144, 144, 0.19);
}

.right-box {
  margin: 20px;
}

.card-media {
  height: auto;
  width: auto;
}

.right-message {
  justify-content: flex-end !important;
}
.left-message {
  justify-content: flex-start !important;
}

.message-name {
  font-size: xx-small;
}

.chat-container {
  padding: 10px;
  height: 600px;
  overflow-y: scroll;
}

.chat-send-container {
  margin-top: 20px;
  background-color: #353535;
  border-radius: 10px;
}

.right-panel {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#pic {
border-radius: 50%;
overflow: scroll;
}
